/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px */

/*******************************/
/* BELOW 1408px (Smaller desktops) */
/*******************************/

@media (max-width: 88em) {
  .home-content {
    grid-template-columns: 1fr 2fr;
  }

  .works-grid {
    grid-template-columns: 1.5fr 1fr;
  }

  .work-description {
    grid-column: span 1;
  }

  .description-text-box {
    margin-left: 10rem;
  }
}

/*******************************/
/* BELOW 1200px (Landscape Tablets) */
/*******************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .img-container {
    height: 125px;
    width: 125px;
  }

  .channel-date-time {
    grid-template-columns: repeat(5, 1fr);
  }

  .channel {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*******************************/
/* BELOW 992px (Tablets) */
/*******************************/

@media (max-width: 62em) {
  /* MOBILE NAVIGATION */
}

/*******************************/
/* BELOW 732px (Small Tablets) */
/*******************************/

@media (max-width: 46em) {
}

/*******************************/
/* BELOW 604px (Phones) */
/*******************************/

@media (max-width: 38em) {
}
